/*
 * Author: Shane Martin
 * URL: http://sha.nemart.in
 *
 * Derived from: Victoria vCard (http://blacktie.co) by Carlos Alvarez
 */
@import "compass/css3";

$green_color: #668042;
$dark_green_color: #334021;
$light_green_color: lighten($green_color, 35%);
$light_gray_color: #dddddd;

body {
  background-color: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;
  padding: 80px 0 20px;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  @include background-size(cover);
}

// Titles
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 300;
  color: #333;
}

.centered {
  text-align: center;
}

// Links
a {
  border-bottom: 1px dotted $light_green_color;
  color: $green_color;
  @include transition(color 0.1s ease-in, background 0.1s ease-in);
  &:hover, &:focus {
    border-bottom: 1px solid $green_color;
    color: $dark_green_color;
    outline: 0;
    text-decoration: none;
  }
  &:before, &:after {
    @include transition(color 0.1s ease-in, background 0.1s ease-in);
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.w {
  background-color: #ffffff;
  border: 1px solid $light_gray_color;
  -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}


// Navigation & Tabs

.col-md-4, .col-md-8 {
  padding-left: 0px;
  padding-right: 0px;
}
.nav-tabs {
  border-bottom: 1px solid $light_gray_color;
  > li {
    &.active > a {
      color: #555555;
      cursor: default;
      background-color: #ffffff;
      border-left: 5px solid $green_color;
      border-bottom-color: transparent;
      border-top-color: transparent;
      border-right-color: transparent;
      width: 100%;
      &:hover, &:focus {
        color: #555555;
        cursor: default;
        background-color: #ffffff;
        border-left: 5px solid $green_color;
        border-bottom-color: transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        width: 100%;
      }
    }
    > a {
      margin-right: 2px;
      line-height: 1.428571429;
      border-bottom: 1px solid $light_gray_color;
      border-radius: 0 0 0 0;
      width: 100%;
      background-color: #f2f2f2;
    }
  }
}

.tab-content {
  background-color: #ffffff;
  padding-left: 15px;
  padding-top: 20px;
  padding-right: 15px;
  h5 {
    color: #bdc3c7;
    font-weight: 700;
    letter-spacing: 1px;
  }
}

.tab-pane {
  h3.title {
    border-bottom: 1px solid $dark_green_color;
    padding-bottom: 0.5em;
  }
}

// Miscellaneous
.red i {
  font-size: 12px;
  color: #e74c3c;
}

i {
  vertical-align: middle;
}

h6 a {
  color: $green_color;
  &:hover {
    color: #7b7b7b;
  }
}

grey {
  color: #bdc3c7;
}
